@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
@{
    if (ViewData["Message"] = "Luke how many galaxies are there?") {
        <img src = "http://bestanimations.com/Sci-Fi/StarWars/yoda-sat-wars-animated-gif-3.gif"/>
    }
}
<h3>Email us for any questions at: community@tech.io</h3>

